extends layout

block append head
    link(rel='stylesheet' href='/stylesheets/game.css')
    script(src='/javascripts/reviews.js')
    script(src='/javascripts/ratings.js')
    script(src='/javascripts/gameshelf.js' type='module')
    script(src='/javascripts/game.js' type='module')

mixin avgRating(ratings)
    if ratings.length
        - var sum = 0
        each rating in ratings
            - sum = sum + rating.rating
        - var avg = sum / ratings.length
        span#game-rating= 'AVERAGE RATING: ' + avg
    else
        span#game-rating NOT RATED

block content
    div.game-container
        div.logo
            a(href='/home')
                img(src='../images/console-game-logo.png')
        if user
            div.welcome
                p Welcome, #{user.name}!
            div.logout
                a(href="/users/logout" role="button") Logout
        else
            div.logged-out
                a(href="/users/sign-up" role="button") Sign Up
                a(href="/users/login" role="button") Login
        div.game-data
            div.game-image
                img(src=game.image)
            div.game-options-container
                div.rating-shelf
                    div.ratingDiv
                        if user
                            if userRating
                                input#user-rated(type='hidden' value=userRating.rating name='user-rating')
                                input#user-rated-id(type='hidden' value=userRating.id name='user-rating-id')
                            div.rating__dropDown
                                if userRating
                                    button.rating__dropDown-btn Edit Rating
                                    div.rating__dropDown-content
                                        button#remove-rating Remove Rating
                                        button#edit-1 1
                                        button#edit-2 2
                                        button#edit-3 3
                                        button#edit-4 4
                                        button#edit-5 5
                                else
                                    button.rating__dropDown-btn Rate Game
                                    div.rating__dropDown-content
                                        button#add-1 1
                                        button#add-2 2
                                        button#add-3 3
                                        button#add-4 4
                                        button#add-5 5
                    div.game-options
                        if user
                            if gameshelf
                                div.gameShelf__dropDown
                                    //- button.gameShelf__dropDown-btn Game is in #{gameshelf.category}
                                    button.gameShelf__dropDown-btn GameShelf
                                    div.gameShelf__dropDown-content
                                        if gameshelf.category === 'Played'
                                            button#remove-played - Played
                                            button#move-playing + Playing
                                            button#move-wishlist + Wishlist
                                        if gameshelf.category === 'Playing'
                                            button#move-played + Played
                                            button#remove-playing  - Played
                                            button#move-wishlist + Wishlist
                                        if gameshelf.category === 'Wishlist'
                                            button#move-played + Played
                                            button#move-playing  + Playing
                                            button#remove-wishlist - Wishlist
                            else
                                div.gameShelf__dropDown
                                    button.gameShelf__dropDown-btn= "Gameshelf"
                                    div.gameShelf__dropDown-content
                                        button#add-played + Played
                                        button#add-playing + Playing
                                        button#add-wishlist + Wishlist
                div.avgRating
                    +avgRating(ratings)
            div.game-info
                div.game-info__name= game.name
                div
                    span Genre:
                    p  #{game.genre}
                div
                    span Platform:
                    p  #{game.platform}
                div
                    span Release Date:
                    p  #{game.releaseDate}
                div
                    span Description:
                    p  #{game.description}
        div.game-reviews
            include reviews
