extends layout

block append head
    //- style
    //-     include stylesheets/homepage.css
    link(rel='stylesheet' href='/stylesheets/homepage.css')

block content
    div.homepage
        div.logo
            a(href='/home')
        if user
            div.welcome
                p Welcome, #{user.name}!
            div.logout
                a(href="/users/logout" role="button") Logout
        else
            div.logged-out
                a(href="/users/sign-up" role="button") Sign Up
                a(href="/users/login" role="button") Login
        div.games-container
            //- each game in games
            //-     div.main__game
            //-         img(src='https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/Halo-_Reach_box_art.png/220px-Halo-_Reach_box_art.png')
            //-         div= game.name
            p Games
            div.game1
                - var n = 0;
                while n < 10
                    div.main__game
                        img(src='https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/Halo-_Reach_box_art.png/220px-Halo-_Reach_box_art.png')
                        div= games[n].name
                        - n++
            div.game2
                - var n = 10;
                while n < 20
                    div.main__game
                        img(src='https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/Halo-_Reach_box_art.png/220px-Halo-_Reach_box_art.png')
                        div= games[n].name
                        - n++
            div.game3
                - var n = 20;
                while n < 30
                    div.main__game
                        img(src='https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/Halo-_Reach_box_art.png/220px-Halo-_Reach_box_art.png')
                        div= games[n].name
                        - n++
            div.game4
                - var n = 30;
                while n < 40
                    div.main__game
                        img(src='https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/Halo-_Reach_box_art.png/220px-Halo-_Reach_box_art.png')
                        div= games[n].name
                        - n++
        if user
            div.gameshelf
                p Game Shelf
                div.playing
                    p Playing shelf
                    each game in gameShelf
                        if game.category === "Playing"
                div.played
                    p Played shelf
                    each game in gameShelf
                        if game.category === "Played"
                div.wishlist
                    p Wishlist shelf
                    each game in gameShelf
                        if game.category === "Wishlist"
        else 
            div.gameshelf-no
                p Create an Account to start adding to your Game Shelf!
                div.playing
                    p Playing shelf
                div.played
                    p Played shelf
                div.wishlist
                    p Wishlist shelf