extends layout

block append head
    link(rel='stylesheet' href='/stylesheets/sign-up.css')

block content
    div#logo-div
        a(href='/home')
            img(src='../images/console-game-logo.png')
    div#sign-up-container
        div#sign-up-title
            h1 Sign Up for Console.Game
        div#sign-up-form
            form(action="/users/sign-up" method="POST")
                input(name="_csrf" value=csrfToken type="hidden")
                div.input-container
                    label(for="name") Name
                    input(name="name" value=user.name type="text" placeholder='name...')
                div.input-container
                    label(for="userName") User Name
                    input(name="userName" value=user.userName type="text", placeholder='username...')
                div.input-container
                    label(for="email") Email
                    input(name="email" value=user.email type="email", placeholder="gamer@console.com")
                div.input-container
                    label(for="password") Password
                    input(name="password"  type="password")
                div.input-container
                    label(for="confirmPassword") Confirm Password
                    input(name="confirmPassword"  type="password")
                div.input-container
                    label(for="bio") Bio
                    textarea(name="bio" placeholder="Tell us about yourself")
                div.submit-container
                    button(type="submit") Sign Up
                    a(href="/users/login") Registered?
    if errors
        div#errors-container
            h1 Placeholder
            ul
                each error in errors
                    li= error


//-- add placeholder text to each field
